<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 
<head>
    <title>Emsidi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
 
<body>
<nav th:replace="fragments/fragment :: navbar('Cabang')"></nav>
<div th:if="*{listCabang.size() != 0}">
    <form th:action="@{/cabang/delete/}" method="POST">
        <table class = "table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>No Cabang</th>
                    <th>Nama Cabang</th>
                    <th>Alamat Cabang</th>
                    <th>No Telp</th>
                    <th>Waktu Buka</th>
                    <th>Waktu Tutup</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each = "cabang, iterationStatus : ${listCabang}"
                th:style = "${iterationStatus.even} ? 'font-weight:bold;'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${cabang.noCabang}"></td>
                <td th:text="${cabang.namaCabang}"></td>
                <td th:text="${cabang.alamatCabang}"></td>
                <td th:text="${cabang.noTeleponCabang}"></td>
                <td th:text="${cabang.waktuBuka}"></td>
                <td th:text="${cabang.waktuTutup}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/cabang/view(noCabang=${cabang.noCabang})}">Lihat Detail</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/cabang/update/} + ${cabang.noCabang}">Update</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" th:href="@{/cabang/delete/} + ${cabang.noCabang}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<a th:href="@{/cabang/add}" class="mx-2 btn btn-outline-dark">Tambah Cabang</a>
<a th:href="@{/}" class="mx-2 btn btn-dark">Kembali</a>
<div th:unless="*{listCabang.size() != 0}">
    <h2 th:text="'Tidak ada Cabang'"></h2>
</div>
 
</body>
 
</html>